@model LoginModel

@{ 
    ViewData["Title"] = "Log In";
}

<h1>You are on login</h1>
<form id="login" method="post" action="welcome">
    <div class="form-group">
        <label asp-for="Name"></label>
        <input asp-for="Name" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Password"></label>
        <input asp-for="Password" class="form-control pass" />
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary">Log In</button>
    </div>
</form>