@model UserModel
@{
    ViewData["Title"] = "WelCome";
}

@*<h1>Welcome @ViewBag.Name </h1>
<br />
<h2>Length: @ViewBag.Length </h2>*@

<h1>Welcome @Model.Name</h1>
<br />
<h1>Length:@Model.NameLength</h1>